$mobile:700px;
$desktop:1200px;

.list{
  display: grid;
  gap: 1rem;
}


@media screen and (max-width: $mobile) {
  .list{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: $mobile){
  .list{
    grid-template-columns: 1fr 1fr;
  }
}